<div class="container">
  <div class="row">
    <div class="col m8 offset-m2">
      <blockquote>
        <h1>Vision</h1>
      </blockquote>
      <p class="flow-text">Our vision is being a brand that determines the innovations and trends in the sector. </p>
      <blockquote>
        <h1>Mission</h1>
      </blockquote>
      <p class="flow-text">Our mission is the life style and needs of its customers;
<br>It is a dynamic brand in which the understanding of quality, team spirit and customer satisfaction is the forefront.
<br>We started our very first business back 2000 in Turkey, and currently we sell our products across the world, besides this time period demonstrates that we proved ourselves respectively. As Bemusa Trade Ltd we aware that customers deserve better quality, service and product. </p>
    </div>
  </div>
</div>