<div class="container">
  <div class="row">
    <div class="col m5">
      <img class="responsive-img" src="assets/canada.png" alt="Canada">
    </div>
    <div class="col m5 offset-m2">
      <blockquote>
        <h5>Canada</h5>
      </blockquote>
      1076 CARDIFF BLVD. UNIT 8, MISSISSAUGA, ON, L5S1M4
      <br>
      <a href="tel:+141650865090">+ 1 416 508 6590</a>
      <blockquote>
        <h5>Turkey</h5>
      </blockquote>
      1. Org. san. Bolgesi 83101 Nolu Cad. NO: 17 Baspinar/Sehitkamil Gaziantep/Turkey
      <br>
      <a href="tel:+903423392906">+90 342 337 3906</a>
    </div>
  </div>
</div>