<nav class="red">
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">
      <img src="assets/logo.png" class="responsive-img" width="180" alt="">
    </a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a routerLink="/">Home</a></li>
      <li routerLinkActive="active"><a routerLink="/products">Products</a></li>
      <li routerLinkActive="active"><a routerLink="/about-us">About us</a></li>
      <li routerLinkActive="active"><a routerLink="/contact">Contact</a></li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>