<nav class="navbar">
  <div class="navbar-brand">
    <a class="navbar-item" routerLink="/">
      <img src="assets/logo.png" alt="Bulma: a modern CSS framework based on Flexbox" height="28">
    </a>

    <div class="navbar-burger">
      <span></span>
      <span></span>
      <span></span>
    </div>

    <a class="navbar-item" routerLinkActive="active" routerLink="/">
        Home
    </a>
    <a class="navbar-item" routerLinkActive="active" routerLink="/products">
        Products
    </a>
    <a class="navbar-item" routerLinkActive="active" routerLink="/about-us">
        About us
    </a>
    <a class="navbar-item" routerLinkActive="active" routerLink="/contact">
        Contact
    </a>
  </div>
</nav>
<router-outlet></router-outlet>